.container-fluid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 3em 1fr;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.card-grid {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    max-width: 40em;
    margin: auto;
}

body {
    background-color: rgb(198, 233, 198);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(160, 184, 160);
    text-align: center;
    padding-top: 0.3em;
}

.full-text{
    display: none;
}

button{
    margin: 1em;
    background-color: rgb(198, 233, 198);
}